

    <h1>Task Manager</h1>
<div *ngIf="Adding_task">
    <div class="task-form">
        <form [formGroup]="Task_Form">
            <input type="text" id="task" placeholder="Enter task name..." formControlName="task_name">
            <input type="text" placeholder="Enter task Description..." formControlName="task_description">
            <label>Due date</label>
            <input type="date" id="deadline" formControlName="Task_due_date" pattern="(?:((?:0[1-9]|1[0-9]|2[0-9])\/(?:0[1-9]|1[0-2])|(?:30)\/(?!02)(?:0[1-9]|1[0-2])|31\/(?:0[13578]|1[02]))\/(?:19|20)[0-9]{2})">
            <button id="add-task" (click)="Add_task()">Done</button>
        </form>

    </div>
</div>
<div *ngIf="!Adding_task">
    <ul>
        <li class="li2">Name</li>
        <li class="li2">Completed?</li>

        <button (click)="Add_task_View(true)">Add task</button>
    </ul>
        <div  class="task-list" id="task-list">
            <ul>
                <li class="task" *ngFor="let task of tasks_">
                    {{task.task_name}}
                    <input id="completeBox" type="checkbox">
                    <button (click)="Show_task_description(task.task_number)">Description</button>
                    <button (click)="remove_task(task.task_name)">Remove task</button>
                    <div  *ngIf="viewing_task==task.task_number">
                        <p>{{task.task_description}}</p>
                        <p>{{task.Task_due_date}}</p>
                    </div>
    
                </li>
            </ul>
    </div>
</div>
