.header{
  text-align: center;
}
.task_overview{
  background-color: lightgreen;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  float :right;
  text-align: center;
  height: 400px;
  width: 25%;

}
.task_overview ul{
  list-style-type: none;
}
.task_overview li span{
  font-size: 22px;
  margin-top: 20px;
  color: white;
}
.task_overview li{
  text-align: center;
  height: 50px;
  width:90%;
  background-color: #127e33;
  margin-right: 25px;
  border-radius: 20px;
}


.task{
  text-align: center;
  height: 150px;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 10px;
  border-color: black ;
  border-radius: 20px;
  border-style:  solid;
  background-color: #29f797;
} 
#new_task{
background-color: white;
}
.task span{
  color:white;
  font-size: 22px;
}
.task ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float :right;
}
.task ul:hover{
  cursor: pointer;
}
.task p{
  color: white;
}
.task div{
  margin-top: 15px;
}
.task li {
  display: inline-block;
  vertical-align: middle;
    margin-right: 5px;
  }
  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 400px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: grey;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.signupbtn {
  background-color: #04AA6D;
  color: white;
  border: none;
  cursor: pointer;
  width: 300px;
  height: 70px;
  vertical-align: middle;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  width: 300px;
  height: 70px;
  vertical-align: middle;
}

.container {
  padding: 16px;
}
.labels{
  line-height: 50px;
  display: inline-block;
vertical-align: middle;
margin-right: 10px;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.error{
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  text-align: center;
  width:500px;
  margin-left: 30%;
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.alert {
width: 500px;
height: 20px;
font-family: sans-serif;
text-align: center;
font-size: 10px;
background-color: #FDF7DF;
border: 1px solid #FEEC6F;
color: #C9971C;
margin-bottom: 20px;
}
.OperationBtn{
  width: 100px;
  height: 25px;
  background-color: orange;
  border: none;
  cursor: pointer;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}