.Main-task-view{
  background-color: rgb(191, 241, 191);
  padding: 0;
  overflow: hidden;
  width: 50%;
  margin-left: 30%;
  height: 100%;
}
.Main-task-view li{
  text-align: center;
  background-color: #127e33;
  margin-right: 25px;
  border-radius: 20px;
  width:90%;
  height: 100%;
}
.Main-task-view ul{
  list-style-type: none;
}
.Main-task-view  li span{
  font-size: 22px;
  margin-top: 20px;
  color: white;
}
.Main-task-view ul li:hover{
  background-color:chartreuse;
}
.header{
  text-align: center;
  font-size: 70px;
}
.task_description{
  background-color: rgb(191, 241, 191);
  position: fixed;
  height: 100%;
  right:0;
  width:20%;
}
.task_description ul{
  list-style-type: none;
}
.task_description ul li{
  float:right;
  margin-right: 10px;
}
.task_description p{
  text-align: center;
}
.task_description a{
  cursor: pointer;
}
.task-nav{
  height: 100%;
  float:left;
  height: 100%;
  width:20%;
  background-color: rgb(191, 241, 191);
  display: block;
}
.task-nav ul{
list-style: none;
}
.task-nav button{
  cursor: pointer;
  width: 100%;
  background-color: rgb(0, 34, 17);
  color: white;
  border: none;
  border-radius: 15px;
}
.task-nav li{
  margin-right: 15%;
  margin-top: 10%;
  background-color: rgb(0, 34, 17);
  height:7%;
  text-align: center;
  color: white;
  border-radius: 15px;
}
.task-nav button:hover{
  background-color: rgb(95, 201, 95);
  }
  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 400px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: grey;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.signupbtn {
  background-color: #04AA6D;
  color: white;
  border: none;
  cursor: pointer;
  width: 300px;
  height: 70px;
  vertical-align: middle;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  width: 300px;
  height: 70px;
  vertical-align: middle;
}

.container {
  padding: 16px;
}
.labels{
  line-height: 50px;
  display: inline-block;
vertical-align: middle;
margin-right: 10px;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.error{
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  text-align: center;
  width:500px;
  margin-left: 30%;
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.alert {
width: 500px;
height: 20px;
font-family: sans-serif;
text-align: center;
font-size: 10px;
background-color: #FDF7DF;
border: 1px solid #FEEC6F;
color: #C9971C;
margin-bottom: 20px;
}



/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}