<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/Api-tester/src/app/profile/profile.component.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>Profile</h1>
        </div>
    </div>
    <!-- End -->

    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="100" height="110">

            <div class="name">
                {{username}}
            </div>
            <div class="job">
                {{email}}
            </div>
        </div>

    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>Details</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <ul>
                    <li>
                        Username: <span>{{username}}</span>
                    </li>
                    <br>
                    <li>
                        Email:<span>{{email}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End -->
</body>
</html>