
<form [formGroup]="SignUpform"  style="border:1px solid #ccc">


	<div *ngIf="err" class="error">{{errorAlert}}</div>

    <div class="container"  align="center">
      <!--<div class="success" *ngIf="success">Success</div>-->
      <h1>Sign Up</h1>
       <!--username-->
      <div>
        <label class="labels" for="username"><b>Username</b></label>
        <input class="InputField" type="text" placeholder="Enter username" name="username" formControlName="username"  required>  
        <div *ngIf="checkingValidity">
          <div class="alert" *ngIf="SignUpform.controls.username.errors?.['pattern']">no special cahracters</div>
          <div class="alert" *ngIf="SignUpform.controls.username.errors?.['required']">this field is required</div>
          <div class="alert" *ngIf="SignUpform.controls.username.errors?.['minlength']">Must be longer 3 cahracters</div>
          <div class="alert" *ngIf="SignUpform.controls.username.errors?.['maxlength']">Must be shorter than 15 cahracters long</div>
        </div>
      </div>
      <!--email  -->
      <div>
        <label class="labels" for="email"><b>Email  </b></label>
        <input class="InputField" type="text" placeholder="Enter Email" name="email" formControlName="email" required>
        <div *ngIf="checkingValidity">
          <div class="alert" *ngIf="SignUpform.controls.email.errors?.['email']">Invalid email</div>
          <div class="alert" *ngIf="SignUpform.controls.email.errors?.['required']">this field is required</div>
          <div class="alert" *ngIf="SignUpform.controls.email.errors?.['minlength']">Must be longer 5 characters</div>
          <div class="alert" *ngIf="SignUpform.controls.email.errors?.['maxlength']">Must be shorter than 30 cahracters</div>
        </div>
      </div>
       <!--password-->
      <div>
              <label class="labels" for="psw"><b>Password</b></label>
              <input class="InputField" type="password" placeholder="Enter Password" name="psw" formControlName="password"  required>
              <div *ngIf="checkingValidity">
                <div class="alert" *ngIf="SignUpform.controls.password.errors?.['required']">this field is required</div> 
                <div class="alert" *ngIf="SignUpform.controls.password.errors?.['minlength']">Must be longer 8 </div>
                <div class="alert" *ngIf="SignUpform.controls.password.errors?.['pattern']"> no special cahracters</div>
                <div class="alert" *ngIf="SignUpform.controls.password.errors?.['maxlength']">Must be shorter than 35 cahracters long</div>
              </div>     
      </div>
       <!--Submit-->
     <div class="clearfix">
        <button type="button" class="cancelbtn" routerLink="/">Cancel</button>
        <button class="signupbtn" (click)="checkValidity()">Sign Up</button>
      </div>
    </div>
  </form>
