.header{
    color:darksalmon;
    font-size: 45px;
    margin-top: 8%;
  }
.welcome-text{
width: 40%;
font-size: 35px;
color:rgb(80, 88, 72);
margin:auto;
}
.Option_btns{
  background-color: #04AA6D;
  color: white;
  border: none;
  cursor: pointer;
  width: 90px;
  height: 40px;
  border-radius: 15px;
  margin-left:10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin-right: 200px;
  }
  li {
    float: right;
    margin-right: 5px;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(202, 198, 198);
  }